integrations/n8n/workflows/doc-ingestion.json
{
  "name": "TrustRAG Doc Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-gdrive",
      "name": "Google Drive Watch",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Google Drive OAuth"
        }
      },
      "notes": "Watches a Google Drive folder for new files. Configure your folder ID in the parameters below.",
      "webhookId": "doc-ingestion-gdrive"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-pdf-check",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-pdf",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRUSTRAG_BACKEND_URL }}/api/documents/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-upload",
      "name": "Upload to TrustRAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-status-ok",
              "leftValue": "={{ $response.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-success",
      "name": "Upload OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 200]
    },
    {
      "parameters": {
        "channel": "#docs-indexed",
        "text": ":page_facing_up: *Indexed:* {{ $('Upload to TrustRAG').item.json.filename }} ({{ $('Upload to TrustRAG').item.json.num_chunks }} chunks)\nSource: Google Drive auto-upload",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Slack Notify Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1180, 100],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_ME",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "channel": "#errors",
        "text": ":warning: *Doc ingestion failed*\nFile: {{ $('Google Drive Watch').item.json.name }}\nError: {{ $json.error || $json.detail || 'Unknown error' }}\nTimestamp: {{ new Date().toISOString() }}",
        "otherOptions": {}
      },
      "id": "slack-error",
      "name": "Slack Alert Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1180, 320],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_ME",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "channel": "#docs-indexed",
        "text": ":no_entry: Skipped non-PDF file: {{ $json.name }} ({{ $json.mimeType }})",
        "otherOptions": {}
      },
      "id": "slack-skip",
      "name": "Slack Notify Skipped",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [710, 440],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_ME",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Watch": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Upload to TrustRAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Notify Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to TrustRAG": {
      "main": [
        [
          {
            "node": "Upload OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload OK?": {
      "main": [
        [
          {
            "node": "Slack Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Alert Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "TrustRAG",
      "id": "tag-trustrag"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
