integrations/n8n/workflows/slack-ask-trust-gate.json
{
  "name": "TrustRAG Slack Ask with Trust Gate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-slash",
      "name": "Slack /ask Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "slack-ask-trustrag",
      "notes": "Register this webhook URL as the Slack slash command endpoint for /ask"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TRUSTRAG_BACKEND_URL }}/api/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"question\": \"{{ $json.body.text }}\" }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-query",
      "name": "Query TrustRAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-trust-threshold",
              "leftValue": "={{ $json.trust_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-trust",
      "name": "Trust >= 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response_type\": \"ephemeral\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \":white_check_mark: *Trust: {{ $('Query TrustRAG').item.json.trust_score }}/100 — High confidence*\\n\\n{{ $('Query TrustRAG').item.json.answer }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Sources: {{ $('Query TrustRAG').item.json.sources ? $('Query TrustRAG').item.json.sources.map(s => s.filename + ' (p' + s.page + ')').join(', ') : 'N/A' }} | Audit ID: {{ $('Query TrustRAG').item.json.audit_id || 'N/A' }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "respond-high-trust",
      "name": "Reply High Trust",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response_type\": \"ephemeral\",\n  \"text\": \":warning: Low confidence ({{ $('Query TrustRAG').item.json.trust_score }}/100). Your question has been forwarded to #review-queue for human verification.\"\n}",
        "options": {}
      },
      "id": "respond-low-trust",
      "name": "Reply Low Trust Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 420]
    },
    {
      "parameters": {
        "channel": "#review-queue",
        "text": ":warning: *Trust: {{ $('Query TrustRAG').item.json.trust_score }}/100 — LOW CONFIDENCE, HUMAN REVIEW NEEDED*\n\n*Question:* {{ $('Slack /ask Webhook').item.json.body.text }}\n*Asked by:* <@{{ $('Slack /ask Webhook').item.json.body.user_id }}>\n\n*Proposed answer:*\n{{ $('Query TrustRAG').item.json.answer }}\n\n*Sources:* {{ $('Query TrustRAG').item.json.sources ? $('Query TrustRAG').item.json.sources.map(s => s.filename + ' (p' + s.page + ')').join(', ') : 'N/A' }}\n*Audit ID:* {{ $('Query TrustRAG').item.json.audit_id || 'N/A' }}\n\nReact with :+1: to approve, :-1: to reject.",
        "otherOptions": {}
      },
      "id": "slack-review",
      "name": "Post to Review Queue",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1180, 420],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_ME",
          "name": "Slack Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Slack /ask Webhook": {
      "main": [
        [
          {
            "node": "Query TrustRAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query TrustRAG": {
      "main": [
        [
          {
            "node": "Trust >= 70?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trust >= 70?": {
      "main": [
        [
          {
            "node": "Reply High Trust",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Low Trust Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Low Trust Ack": {
      "main": [
        [
          {
            "node": "Post to Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "TrustRAG",
      "id": "tag-trustrag"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
